h2{
    background-color: darkseagreen;
    width: 300px;
    border: 5px solid seagreen;
    padding: 5px;

}

.section {
    width: 300px;
    padding: 5px;
    border: 5px solid grey;
    margin: 5px 0px;
    background-color: lightgrey;
}

.image {
    width: 300px;
    padding: 10px;
}